<script id="calculatorView" type="x-tmpl-mustache">
  {{={{{ }}}=}}
  <div class="calculator">
    <div id="calculator" class="{{ className }}">
      <div class="input" contenteditable="true">
        {{ #lines }}
        <div>{{ . }}</div>
        {{ /lines }}
      </div>
      <div class="output"></div>
    </div>
  </div>
  {{{={{ }}=}}}
</script>
