<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New Notetab</title>
    <link rel="stylesheet" href="static/{{ assets.css }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="static/icon-16.png">
  </head>
  <body>
