{{> ./partials/header}}
<div class="grid" id="app"></div>

{{> ./partials/app }}
{{> ./partials/calculator }}

<script src="static/ace.1.4.2/ace.js"></script>
<script src="static/app.js"></script>

{{> ./partials/footer}}
