{{> ./partials/header}}

<div id="app"></div>

<script id="optionsView" type="x-tmpl-mustache">
  {{={{{ }}}=}}
<form id="options">
  <fieldset>
  <legend>General:</legend>
  <div>
    <label>Theme:</label>
    <select class="setting" name="theme">
      {{ #themes }}
      {{#.}}
      <optgroup label="{{key}}">
        {{ #value }}
        {{#.}}
        <option value="{{ name }}" {{selected}}>{{ caption }}</option>
        {{/.}}
        {{ /value }}
      </optgroup>
      {{/.}}
      {{ /themes }}
    </select>
  </div>
  </fieldset>
</form>
{{{={{ }}=}}}
</script>

<script src="static/ace.1.4.2/ext-themelist.js"></script>
<script src="static/ace.1.4.2/ext-modelist.js"></script>
{{> ./partials/footer}}
